* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #title {
    padding: 10px;
    text-align: center;
    margin-top: 2%;
    border: 2px dashed burlywood;
  }
  
  #container {
    border: 5px solid black;
    margin-top: 2%;
    display: grid;
    height: 575px;
    width: 575px;
  }
  
  .square {
    border: 1px solid black;
  }
  
  .black {
    background-color: black;
  }
  
  .buttons {
    height: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 575px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px;
  }
  
  .rainbowMode {
    display: flex;
    align-items: center;
  }
  .active {
    display: inline-block;
    margin-left: 4px;
    width: 5px;
    padding: 5px;
    border: 1px solid black;
  }
  
  .blue {
    background-color: blue;
  }

  /* MEDIA QUERIES */
  @media (max-width: 1200px) {
    body { 
        justify-content: center;
    }
  }

  @media (max-width: 850px) {
    body {
        gap: 50px;
    }

    .buttons {
        width: 150px;
        gap: 16px;
    }

    #container {
        width: 400px;
        height: 400px;
    }
  }

  @media (max-width: 650px) {
    .title {
        font-size: 50px;
    }
    body {
        flex-direction: column-reverse;
    }
    #container {
        width: 300px;
        height: 300px;
    }
  }